div.profileSummary{
	min-width: 200px;
	width : 13vw;
	height : 100%;
	float: right;
	position: fixed;
	right: 0vw;
	top:0%;
	background-color: #e3f3f3aa;
	color: white;
	font-size: 15px;
	margin-left: 2%;
}

div.profileInfo{
	font-size: 15px;
	color: black;
	display: block;
	margin-left:2%;
	margin-right: auto;
}

img.profile {
	display: block;
	padding-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width : 95%;
	height : auto;
	background-color : rgba(0,0,0,0);
}